.registerError, .passwordError{
  align-self: center;
  font-size: 10px;
}
.storeContainer{
  max-width: 205px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  border: 2px dotted rgb(255, 150, 12);
  padding: 10px;
  flex-wrap: wrap;
   
}
.storeContainer>span{
  width: fit-content;
  cursor: pointer;
  border: 1px solid rgb(255, 116, 74);
  margin:3px;
  border-radius: 5px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  
  
}
.storeContainer>span label{
  margin-left: 20px;
}

.storeitemImage{
  margin-left: 2px;
  border-bottom: 1px dotted rgb(122, 122, 122);
  margin-bottom: 3px;
}
.storeItemPrice{
  margin-bottom: 3px;
 
  
}
.fa-coins{
  color:rgba(255, 217, 0, 0.856);
}
.errorHidden{
  visibility: hidden;
}
.errorVisible{
  visibility: visible;
}
.backArrow{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: #ccc6c6;
  cursor: pointer;
}
.dontHaveAcc{
  align-self: center;
  text-decoration: underline;
  color: rgb(85, 85, 248);
  cursor: pointer;
  margin-top:10px;
}



.loginForm,.registerForm{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 185, 88);
  align-content: space-around;
  width: 30%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 200px;
  border-radius: 10px; 

}

.loginInput,.registerInput{
  font-size: 17px;
  width: 30%;
  align-self: center;
  padding: 8px;
  border-radius: 3px;
  border: 2px rgb(204, 132, 32);
  border-style: solid;
  margin: 7px;
}
.registerInput:nth-child(3){
  margin:0px;
}
.loginForm>h2, .registerForm>h2{
  margin-bottom: 30px;
  align-self: center;
}
.loginSubmitBtn,.registerSubmitBtn{
  
  height: 28px;
  width: 13%;
  align-self: center;
  background-color: #fc594a;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  border:3px solid rgb(158, 49, 49)
}



.gameDescription {
  text-align: center;
  line-height: 40px;
  color: gray;
}
.homeContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeImage {
  border-radius: 20px;
}
.playButton {
  width: 80px;
  height: 50px;
  border: none;
  box-shadow: 0 0 0 0 rgba(248, 99, 0, 0.7);
  border-radius: 100%;
  background-color: #e84c3d;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.playButton:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
